body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    margin: 0;
    padding: 0;
}

.nav {
    background: #111;
    padding: 15px;
    text-align: center;
}
.nav a {
    color: white;
    margin: 0 12px;
    text-decoration: none;
    font-size: 18px;
}

.cart-title {
    text-align: center;
    margin-top: 20px;
    font-size: 32px;
    color: #222;
}

#cart-items {
    width: 80%;
    margin: auto;
    margin-top: 20px;
}

.cart-card {
    background: white;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.cart-card img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}

.cart-info {
    flex: 1;
}

.cart-info h3 {
    margin: 0;
}

.remove-btn {
    padding: 8px 12px;
    background: crimson;
    color: white;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}

.total {
    text-align: center;
    margin-top: 25px;
    font-size: 26px;
}
